/* GENERAL CSS STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  gap: 25px;
}

body.rps-showdown {
  margin: 5px;
}

.links {
  color: black;
}

/* RPS OPTIONS */

.rps-choices-container {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.rps-options-container {
  display: flex;
  justify-content: center;
  gap: 5px 20px;
}

.rps-choices-container > h2 {
  text-decoration: underline;
}

.rps-options-container > p {
  font-size: 24px;
}

.rps-options-buttons {
  padding: 0 15px;
}

/* RPS CHARACTER SELECT */

.character-select-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.character-portrait {
  flex: 0;
  border: 2px solid black;
}

/* RPS STAGE SELECT */

.rps-stage-select {
  min-height: 100%;
}

.stage-select-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.stage-background {
  flex: 0;
  border: 2px solid black;
}

/* RPS SHOWDOWN CHARACTER PORTRAIT */

.player-portrait,
.computer-portrait {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* RPS SHOWDOWN */

.rps-gui-container {
  display: flex;
  flex-direction: column;
  /* justify-content: safe center; */
  align-items: center;
  text-align: center;
  height: 100vh;
  gap: 25px;
  /* padding: 10px 0; */
  overflow-x: auto;
}

.player-choices {
  display: flex;
  justify-content: center;
}

.rps-players-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.player,
.computer {
  font-size: 2rem;
}

.rps-score-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.player-score,
.computer-score {
  font-size: 4rem;
}

.rps-btn {
  margin: 10px;
  padding: 5px 10px;
}

.rps-updates-container {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 44px;
}

.rps-reset-button-container {
  display: flex;
  justify-content: center;
}
